*{
    font-family: 'Raleway';
}
.aa {
    border-top: 0px;
    border-right: 0px;
    border-left: 2px solid lightgray;
    border-bottom: 3px solid lightgray;
    border-radius: 8px;
}
.aa::placeholder{
    font-weight: bold;
} 
.kk {
    border: 2px solid #d2d2d2 !important;
    border-radius: 0px 0px 0px 10px !important;
    border-top: none !important;
    border-right: none !important;
    height: 35px !important;
}
.ll{
    height: 28px !important;
}
.bb {
    margin-left: -40px;
}
.ee:hover {
    background-color: royalblue;
    color: white;
}
.cc{
        text-decoration: none;
}

.cc:hover {
    font-weight: bold;
    text-decoration: none;
}
.dd{
    border-width: 2px !important;
    color:#cacaca !important;
 

}
.ii{
    font-size: 14px;
    font-weight: 900;
 }
.jj{
     font-weight: 750;
}
.bold{
    font-weight: 600;
}
.ff {
    border-top: 0px;
    border-right: 0px;
    border-left: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    border-radius: 10px;
    height: 35px;
    font-size: revert;
  }
  input,
  select,
  textarea:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: lightgray !important;
    
  }
  
  input,
  select,
  textarea {
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
.slick-next:before, .slick-prev:before{
    color: black;
}
.zz{
    margin-left:-20px !important;
}
.fontsmall{
    font-size: small;
}